@mixin ipad {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin iphone {
    @media (max-width: 568px) {
        @content;
    }
}
@mixin scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ffffff00;
        //   border-radius: 3px;
    }
}

@mixin scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
html {
    scroll-behavior: smooth;
}

.mt {
    margin-top: 50px;
}
.one {
    .linkTO {
        position: absolute;
        background: rgba(236, 111, 111, 0.699);
        opacity: 0;
        cursor: pointer;

        &:nth-of-type(1) {
            width: 24%;
            height: 3%;
            top: 11.8%;
            left: 13%;
            border-radius: 30px;
        }
        &:nth-of-type(2) {
            width: 24%;
            height: 3%;
            top: 11.8%;
            left: 38%;
            border-radius: 30px;
        }
        &:nth-of-type(3) {
            width: 24%;
            height: 3%;
            top: 11.8%;
            left: 63%;
            border-radius: 30px;
        }
        &:nth-of-type(4) {
            width: 24%;
            height: 3%;
            top: 15.5%;
            left: 50.5%;
            border-radius: 30px;
        }
        &:nth-of-type(5) {
            width: 24%;
            height: 3%;
            top: 15.5%;
            left: 25.5%;
            border-radius: 30px;
        }
        &:nth-of-type(6) {
            width: 22%;
            height: 1%;
            top: 26.1%;
            left: 39%;
        }
    }
}
.two {
    .twoA {
        position: absolute;
        background: rgba(229, 108, 108, 0.653);
        opacity: 0;
        cursor: pointer;

        &:nth-of-type(1) {
            width: 20%;
            height: 3%;
            top: 38.3%;
            left: 40%;
        }
    }
}

.five {
    .test{
        position: absolute;
        width: 17.5%;
        height: 3.6%;
        top: 0.1%;
        // background: rgba(0, 0, 0, 0.666);
    }
    a {
        position: absolute;
        background: rgba(0, 0, 0, 0.666);
        opacity: 0;
        cursor: pointer;

        &:nth-of-type(1) {
            width: 17.5%;
            height: 3.6%;
            top: 25.8%;
            left: 37.7%;
        }

        &:nth-of-type(2) {
            width: 17.5%;
            height: 3.6%;
            top: 25.8%;
            right: 8.8%;
        }
        &:nth-of-type(3) {
            width: 18.5%;
            height: 0.8%;
            top: 49.3%;
            right: 8.7%;
        }
        &:nth-of-type(4) {
            width: 41%;
            height: 0.8%;
            top: 50.4%;
            left: 12%;
        }
        &:nth-of-type(5) {
            width: 18.5%;
            height: 0.8%;
            top: 59.8%;
            right: 8.6%;
        }
        &:nth-of-type(6) {
            width: 21%;
            height: 0.8%;
            top: 60.9%;
            left: 12%;
        }
    }
}

.six {
    margin-top: 0.1%;
    a {
        position: absolute;
        background: rgba(0, 0, 0, 0.655);
        opacity: 0;
        cursor: pointer;

        &:nth-of-type(1) {
            width: 18%;
            height: 7%;
            top: 14.8%;
            left: 41%;
        }
        &:nth-of-type(2) {
            width: 12%;
            height: 7.2%;
            top: 31.4%;
            left: 37.1%;
        }
        &:nth-of-type(3) {
            width: 12%;
            height: 7.2%;
            top: 31.4%;
            left: 50.9%;
        }
    }
}

.seven {
    a {
        position: absolute;
        background: rgba(233, 125, 125, 0.655);
        opacity: 0;
        cursor: pointer;

        &:nth-of-type(1) {
            width: 13.8%;
            height: 6.6%;
            top: 11.8%;
            left: 9%;
        }
        &:nth-of-type(2) {
            width: 50.3%;
            height: 3.5%;
            bottom: 18.7%;
            left: 24.1%;
            border-radius: 50px;
        }
    }
}

.imageContainer {
    width: 100%;
    position: relative;
    text-align: justify;
    display: flex;
    justify-content: center;
    word-break: break-all;
    background: #e9e9e9;

    .swiperBackImg {
        position: absolute;
        display: flex;
        justify-content: center;
        height: 35.5vw;
        width: 77%;
        top: 16%;
        border-radius: 60px;

        .swiperImg {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.container {
    width: 100%;
    overflow: hidden;

    .prev {
        position: fixed;
        align-items: center;
        z-index: 50;
        right: 10px;
        top: 10px;
        padding: 0.3% 1%;
        background: #3aa298;
        border: none;
        border-radius: 16px;
        color: white;
        box-shadow: #105249 1px 4px;
        font-size: clamp(12px, 1vw, 2vw);
    }

    .fixed {
        position: fixed;
        display: flex;
        flex-direction: column;
        transition: all 0.8s;
        right: 0%;
        top: 50%;
        @media only screen and (max-width: 576px) {
            width: 15%;
        }
        @media only screen and (min-width: 576px) {
            width: 6%;
        }

        transform: translate(0%, -50%);
        align-items: center;
        z-index: 5;
        border-radius: 60px 60px 60px 60px;
        margin-right: 10px;
        background: -webkit-linear-gradient(299deg, #dfa43c, #71412b);
        box-shadow: #653e05 4px 5px;
        &.fixedActive {
            right: -20%;
        }

        .fixedItem {
            width: 100%;
            letter-spacing: -1px;
            height: 48px;
            font-size: clamp(12px, 1vw, 2vw);
            text-align: center;
            // background: rgba(0, 0, 0, 0.5);
            border-top: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            font-weight: 900;

            @include ipad {
                width: 60px;
            }

            @include iphone {
                width: 50px;
            }

            &.active,
            &:hover:not(:first-child) {
                background: #9f571d;
                width: 130%;
            }

            &:not(:last-child) {
                margin-top: 1px;
            }

            &:first-child {
                height: 50px;
                border-radius: 60px 60px 0px 0px;
                text-align: center;
                font-size: clamp(14px, 1.5vw, 2vw);
                padding-bottom: 5%;
                @include ipad {
                    height: 40px;
                }
                padding-top: 20%;
            }
            &:last-child {
                height: 60px;
                border-radius: 0px 0px 60px 60px;

                @include ipad {
                    height: 40px;
                }
            }
        }

        .top {
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: absolute;
            top: -20px;

            @include ipad {
                width: 60px;
                height: 48px;
            }

            @include iphone {
                width: 50px;
                height: 40px;
            }
        }
    }

    .fixed2 {
        cursor: pointer;
        position: fixed;
        right: 0%;
        top: 40%;
        transform: translate(0%, -50%);
        width: 30px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px 0px 0px 10px;
        text-align: center;
        transition: all 0.8s;
        padding: 4px;
        color: white;
        z-index: 5;

        &.fixedActive {
            right: -20%;
        }
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        z-index: 997;
        display: flex;
        align-items: center;
        justify-content: center;

        .popup-inner {
            position: fixed;
            transform: translate(-50%, -45%);
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            padding: 20px 25px;
            z-index: 998;
            position: relative;

            @include scrollbar;
            @media only screen and (max-width: 576px) {
                .popup-imgApp {
                    // background-image: url('../../public/img/SunnyPoint/點數活動頁4-2-1-20.jpg');
                    background-position: center;
                    background-size: 100% 60%;
                    width: 100%;
                    height: 90%;
                    background-repeat: no-repeat;
                }
                .iconApp {
                    display: block;
                }
                .iconWeb {
                    display: none;
                }
            }
            @media only screen and (min-width: 576px) {
                .popup-imgWeb {
                    // background-image: url('../../public/img/SunnyPoint/點數活動頁4-2-1-21.jpg');
                    background-position: center;
                    background-size: 45% 100%;
                    width: 100%;
                    height: 130%;
                    // min-width: 90%;
                    background-repeat: no-repeat;
                }
                .iconApp {
                    display: none;
                }
                .iconWeb {
                    display: block;
                }
            }
            .iconWeb {
                position: absolute;
                width: 2.5%;
                height: 4%;
                right: 29%;
                top: 5%;
                z-index: 999;
            }
            .iconApp {
                position: absolute;
                width: 7%;
                height: 7%;
                right: 9%;
                top: 21%;
                z-index: 999;
            }
        }
    }
}
